@charset "utf-8";
@mixin center_box {
    display: flex;
    justify-content: center;
    align-items: center;
}
@import 'reset';
$home_width:1920px;

#sidebar{
    width: 85px;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 540px;
    right: 0px;
    z-index: 5;
    aside{
        height: 100px;
        width: 100%;
        background: white;
        font-size: 20px;
        text-align: center;
        line-height: 100px;
        a{
            color: black;
            text-decoration: none;
        }
        &:hover{
            background: #aaa9ae;
        }
        #return{
            display: none;
        }
    }
}
#headerbox{
    width: 1920px;
    height: 50px;
    background: black;
    header{
        width: 1820px;
        height: 50px;
        margin: 0 auto;
        #left{
            float: left;
            width: 600px;
            height: 50px;
            li{
                float: left;
                list-style: none;
                color: white;
                font-size: 20px;
                margin-right: 50px;
                text-align: center;
                line-height: 50px;
                cursor: pointer;
                @include center_box();
                &:hover{
                    color: gray;
                }
            }
        }
        #right{
            float: right;
            width: 440px;
            height: 50px;
            li{
                float: left;
                list-style: none;
                color: white;
                font-size: 20px;
                margin-right: 40px;
                text-align: center;
                line-height: 50px;
                cursor: pointer;
                @include center_box();
                &:hover{
                    color: gray;
                }
                &:nth-of-type(4):hover{
                    color: white;
                }
                &:nth-of-type(1):hover{
                    &+#code{
                        display: block;
                        z-index: 3;
                    }
                }
            }
            #code{
                height: 150px;
                width: 150px;
                position: absolute;
                left: 1390px;
                top: 55px;
                display: none;
                img{
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }
}
nav{
    height: 93px;
    width: 1920px;
    background: #f7f7f7;
    section{
        width: 1700px;
        height: 100%;
        margin: 0 auto;
        #logo{
            float: left;
            margin-top: 20px;
            width: 150px;
            height: 41px;
            img{
                height: 100%;
                width: 150px;
                cursor: pointer;
            }
            #before{
                @extend img;
                display: block;
            }
            #later{
                @extend img;
                display: none;
            }
            &:hover{
                #before{
                    display: none;
                }
                #later{
                    display: block;
                }
            }
        }
        ul{
            width: 1200px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            margin-left: 100px;
            float: left;
            li{
                @include center_box();
                font-size: 28px;
                cursor: pointer;
                &:hover{
                    color: #5278f4;
                }
                &:nth-of-type(9){
                    color: gray;
                    &:hover{
                        color: gray;
                    }
                }
            }
        }
        #seach{
            width: 150px;
            height: 100%;
            margin-left: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            float: left;
            img{
                height: 26px;
                width: 26px;
                cursor: pointer;
            }
            #esc{
                display: none;
                margin-left: 10px;
                height: 26px;
                width: 26px;
            }
        }
    }
}
#phones_box{
    position: absolute;
    top: 143px;
    height: 415px;
    display: none;
    background: #5278f4;
    z-index: 9999;
    // display: none;
    #phones{
        width: 1920px;
        height: 415px;
        background: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        aside{
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            span{
                font-size: 25px;
            }
        }
        #contrast{
            height: 180px;
            width: 284px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            section{
                cursor: pointer;
                background: #f1f1f1;
                height: 80px;
                width: 284px;
                border-radius: 20px;
                color: black;
                font-size: 25px;
                line-height: 80px;
                text-align: center;
                &:hover{
                    background: blue;
                    color: white;
                }
            }
        }
    }
}
#Headlist_box{
    width: $home_width;
    height: 177px;
    background: white;
    #Headlist{
        width: 1554px;
        height: 100%;
        margin: 40px auto;
        background: white;
        #Headlist_top{
            width: 100%;
            height: 58px;
            border-bottom: gray 1px solid;
            ul{
                float: left;
                width: 324px;
                height: 100%;
                display: flex;
                justify-content: space-between;
                li{
                    font-size: 20px;
                    width: auto;
                    height: 58px;
                    align-self: center;
                    line-height: 58px;
                    text-align: center;
                }
            }
        }
        #Headlist_bottom{
            width: 100%;
            height: 80px;
            ul{
                float: left;
                width: 400px;
                height: 100%;
                display: flex;
                justify-content: space-between;
                li{
                    font-size: 20px;
                    width: auto;
                    height: 80px;
                    align-self: center;
                    line-height: 80px;
                    text-align: center;
                }
            }
        }
    }
}
#main_box{
    width: $home_width;
    background: gray;
    main{
        width: 1554px;
        margin: 0 auto;
        background: powderblue;
        aside{
            width: 405px;
            height: 527px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: white;
            margin-left: 80px;
            margin-top: 10px;
            float: left;
            position: relative;
            cursor: pointer;
            &:hover{
                box-shadow:3px 3px 3px 3px gray;
            }
            img:nth-of-type(1){
                width: 165px;
                height: 199px;
                position: absolute;
                left: 123px;
                top: 80px;
            }
            img:nth-of-type(2){
                width: 56px;
                height: 56px;
                position: absolute;
                left: 261px;
                top:51px;
            }
            h3{
                width: 247px;
                height: 22px;
                position: absolute;
                top: 334px;
                left: 80px;
                font-size: 20px;
                line-height: 22px;
                text-align: center;
            }
            span:nth-of-type(1){
                width: 247px;
                height: 47px;
                position: absolute;
                font-size: 20px;
                top: 374px;
                left: 80px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                word-break: break-all;
            }
            span:nth-of-type(2){
                width: 98px;
                height: 20px;
                font-size: 20px;
                line-height: 20px;
                color: red;
                position: absolute;
                left: 153px;
                top: 453px;
            }
        }
    }
}


footer{
    width: $home_width;
    height: 900px;
    background: white;
    float: left;
    #footerTop{
        ul{
            width: 1392px;
            height: 124px;
            margin: 0 auto;
            list-style: none;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid gray;
            li{
                float: left;
                height: 100%;
                font-size: 20px;
                line-height: 124px;
            }
        }
        
    }
    #footerCenter{
        padding-bottom: 30px;
        border-bottom: 1px solid gray;
    }
    #footerLeft{
        width: 1136px;
        height: 453px;
        margin-top: 150px;
        margin-left: 153px;
        margin-right: 0px;
        display: flex;
        justify-content: space-between;
        aside{
            width: 130px;
            float: left;
            ul{
                list-style: none;
                li{
                    margin-top: 20px;
                    font-size: 20px;
                    cursor: pointer;
                    &:hover{
                        color: blue;
                    }
                }
                #asideTop{
                    font-size: 25px;
                    margin-bottom: 50px;
                }
            }
        }
    }
    #footerRight{
        height: 400px;
        width: 254px;
        margin-right: 140px;
        margin-top: -453px;
        background: white;
        float: right;
        #rightTitle{
            height: 24px;
            width: 100%;
            margin-top: 10px;
            background:white;
            img{
                float: left;
            }
            span{
                float: left;
                font-size: 20px;
            }
        }
        #rightCenter{
            height: 72px;
            width: 100%;
            margin-top: 63px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .numberOne{
                color: blue;
                font-size: 20px;
            }
            .vender{
                color: black;
                font-size: 20px;
            }
        }
        #rightBootem{
            height: 72px;
            width: 100%;
            margin-top: 63px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .numberOne{
                color: blue;
                font-size: 20px;
            }
            .vender{
                color: black;
                font-size: 20px;
            }
        }
        #rightTail{
            height: 94px;
            width: 280px;
            margin-top: 45px;
            #attention{
                font-size: 15px;
            }
            #channel{
                height: 48px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                aside{
                    height: 100%;
                    width: 48px;
                    background: #f0f1f5;
                    border-radius: 20px;
                }
            }
        }
    }
    #footerBootem{
        width: $home_width;
        height: 30px;
        float: left;
        span{
            font-size: 15px;
            height: 30px;
            line-height: 30px;
            display: block;
            margin-left: 150px;
        }
    }
}
